body {
  background: #f9f9f9;
}

.nav-link {
  cursor: pointer;

  &:hover {
    color: #007bff;
  }
}

.card {
  box-shadow: 5px 5px 10px hsla(0,0%,47.8%,.5);
}

.pagination {
  margin-top: 25px;
}

.pagination span {
  cursor: pointer;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination span:hover {
  background-color: #bfe5ff;
}

.pagination span.active {
  background-color: #0099ff;
  color: white;
  border: 1px solid #0099ff;
  transform: scale(1.1);
}
